<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYL API DOCS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="heading" style="font-family : Island Moments ; font-size: 3rem;", cursive; ">Endpoints</h1>

    <div class="routes">

       <ul class="route">
           <li id="r1">
               <a href="https://sylviorus-api.up.railway.app/" class="r1">/ - Home Page</a>
           </li>

           <li id="r2">
                <a href="https://sylviorus-api.up.railway.app/user/:userid">/users/:userid - Get Info Of User</a><br><p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-top: 10px;">Example : /user/123</p>
           </li>
       </ul>


    </div>
    
</body>
</html>